@* Offline detection banner - shows when the user loses internet connectivity *@
@inject IJSRuntime JS
@implements IAsyncDisposable

@if (_isOffline)
{
    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Lighter" AllowClose="false">
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Style="width: 100%;">
            <span>You're offline. Some features may not be available.</span>
            <RadzenButton Variant="Radzen.Variant.Text" Size="ButtonSize.Small" Text="Retry" Click="@CheckConnection" />
        </RadzenStack>
    </RadzenAlert>
}

@code {
    private bool _isOffline;
    private DotNetObjectReference<OfflineBanner>? _dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("lrmOffline.init", _dotNetRef);
        }
    }

    [JSInvokable]
    public void OnOnlineStatusChanged(bool isOnline)
    {
        _isOffline = !isOnline;
        StateHasChanged();
    }

    private async Task CheckConnection()
    {
        var isOnline = await JS.InvokeAsync<bool>("lrmOffline.checkConnection");
        _isOffline = !isOnline;
    }

    public async ValueTask DisposeAsync()
    {
        if (_dotNetRef != null)
        {
            try
            {
                await JS.InvokeVoidAsync("lrmOffline.dispose");
            }
            catch
            {
                // Ignore errors during disposal
            }
            _dotNetRef.Dispose();
        }
    }
}
